*{
    outline:none;
       scroll-behavior: smooth;
    padding:0px;
    margin:0px;
    font-family:montserrat,sans-serif;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
  
}
$black:#29231E;
$bp-sm:600px;
$bp-md:768px;
$bp-L:992px;
$bp-XL:1200px;
h1{
    color:$black;
}
p{
    color:$black;
}
span{
    color:$black;
}
a{
    color:$black;
}
@mixin mobile{
    @media (min-width:0) and (max-width:#{$bp-sm})
    {
        @content;
    }
}
@mixin tablet {
    @media (min-width:$bp-sm+1px) and (max-width:#{$bp-md})
    {
        @content;
    }
}
@mixin dekstop {
    @media (min-width:$bp-md+1px) and(max-width:#{$bp-L}){
        @content
    }
        
}
@mixin superdesktop{
    @media(min-width:$bp-L+1px) and(max-width:#{$bp-XL}){
        @content
    }
}
.cool-link{
        
        display:inline-block;
        color:$black;
        text-decoration:none;
    
        }
.cool-link::after{
        content: '';
        display: block;
        width: 0px;
        height: 1px;
        background: #000;
        transition: width .3s;
        }
.cool-link:hover::after{
        width:65%;
        }
        
.navbar{
    font-family:montserrat,sans-serif;
    background-color:rgba(255,255,255,0.3);
    -webkit-backdrop-filter:blur(20px);
    backdrop-filter:blur(20px);
    
    .navbar-brand{
        padding-top:10px;
        margin-left:50px;
        font-size:16px;
        font-weight:700;
    
    }
    .nav{
        margin-right:50px;
        font-size:14px;
        .nav-item{
            margin-left:34px;
            a{
                color:$black;
            }

        
  
        }
    }
    
    @include mobile{
        .nav{
            .nav-item{
                .active{
                    border:none;
                }
            }
        }
    }
    @include tablet{
       
         .navbar-brand{
                margin-left:0px;
            }.nav{
           
            margin:0px;
            .nav-item{
                margin-left:20px;
            }
        }
    }
}
//header

header{
    height:734px;
     margin-bottom:127px;
    background: url("../img/header-img.png") center / cover no-repeat;
    display:flex;
    align-item:center;
    justify-content:center;
    background-attachment:fixed;
    .header-wrap{
       
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        p{
            color:white;
           
        }
        h1{
            color:white;
        }
        span{
            font-family:Playfair display,sans-serif;
            color:white;
        }
            
            .date-wrap{
                width:50%;
                display:flex;
                align-items:center;
                justify-content:space-between;
                
    }
        
    }

    
}
//end of header


//section-quote
.section-quotes{
    font-family:Playfair display,sans-serif;
    letter-spacing:2px;
    padding-bottom:128px;
    p{
        padding-bottom:80px;
    }
    .photo-wrap{
        img{
            width:250px;
            height:250px;
        }
        h1{
            font-size:35px;
        }
    }
}

//end section-quote


//section-story
.section-story{
    .col{
        padding:0px !important;
        margin:0px !important;
    }
    .photo-story{
        width:100%;
         padding:0px !important;
        img{
            width:100%;
            height:700px;
            object-position:center;
            object-fit:cover
        }
        height:700px;
    }
    #photo-story1{
    background: url("../img/desain_sample.png") center / cover;
    }
    #photo-story2{
        background: url("../img/foto-aboutus.png") center / cover;
    }
    #photo-story3{
        background: url("../img/story3-bg.png") center / cover;
    }
    .text-story{
  padding:0px !important;
        height:700px;
        display:flex;
        justify-content:center;
        align-items:center;
        text-align:center;
    }
    .text-wrapper-story{
        width:60%;
    }
    @include mobile{
            #photo-story1{
                background: url("../img/foto-bg-story1-mobile.png") center / cover;
                }
                #photo-story2{
                    background: url("../img/foto-bg-story2-mobile.png") center / cover;
                }
                #photo-story3{
                    background: url("../img/foto-bg-story3-mobile.png") center / cover;
                }
        .photo-story{
            img{
                width:100%;
                object-position:center;
            }
        }
    }
}

//endsection story


//section galeri
.section-galeri{
    padding-top:170px;
    padding-bottom:130px;
    .gallery-wrap{
 
        img{
           width:100%; 
        }
        .embed-responsive-item{
            width:500px;
            height:300px;
        }
        @include mobile{
            .embed-responsive-item{
                width:300px;
                
            }
        }
    }


}
//endsection galeri

//section-information

.section-information{
    height:700px;
    background: url("../img/header-img.png") bottom / cover no-repeat;
    background-attachment:fixed;
    .wrap-info{
        text-align:center;
        p,h1{
            color:white !important; 
        }
       
       
    }
    .countdown-wrap{
            font-family:montserrat,sans-serif;
            .text-date{
                font-size:35px;
            }
            .text-info{
                font-size:15px;
            }
            padding:10px 38px 0px 38px;
            border:1px solid white;
            margin-top:100px;
            width:446px;
            display:flex;
            align-items:center;
            justify-content:space-between;
        }
    @include mobile{
        .countdown-wrap{
            width:100%;
            .text-date{
                font-size:23px;
            }
        }
    }
}
//endsection

//section-venue

.section-venue{
    background-color: rgba(251, 244, 237, 1);

    padding-top:66px;
    padding-bottom:35px;
    .information-detail{
      
        width:60%;
        
        .location{
            width:336px;
            display:flex;
            justify-content:space-between;
            align-items:center
        }
    }
    .line{
        left:48%;
       
        width:50px;
        height:2px;
        background-color:black;
    }
    
    .btn-direction{
        margin-top:50px;
        background-color:rgba(212, 175, 55, 1);
        color:white;
        width:236px;
        padding:10px 50px;
    }
    
    @include mobile{
        .information-detail{
            width:100%;
            .location{
                width:215px;
            }
        }
    }
}

//endsection venue

//section-rsvp
.section-rsvp{
    display:flex;
    align-items:center;
    justify-content:center;
    padding-top:65px;
    padding-bottom:148px;
    .form-wrapper{
        width:60%;
        button{
              background-color:rgba(212, 175, 55, 1);
            border:none;
            width:200px;
        }
    }
}

//endsection-rsvo

//section gift
.section-gift{
    background-color:#EAECF4;
    padding-top:97px;
    height:700px;
    
    .wrapper{
        
        display:flex;
        align-items:center;
        flex-direction:column;
     
    }
    
    .content-wrapper{
        display:flex;
        align-items:center;
        justify-content:center;
        position:relative;
        .items{
            position:absolute;
            
        }
        .amplop-ats{
      
            top:10%;
            
        }
        .kertas{
        
            top:0px;
            &:hover{
                top:-60px;
            }
        }
        .amplop-bwh{
            
            top:210px;
        }

    }

     @include mobile{
     .content-wrapper{
        width:90%;
    
        .amplop-ats{
            width:300px;
            top:0;
            
        }
        .kertas{
            width:250px;
            top:-30px;
            &:hover{
                top:-40px;
            }
        }
        .amplop-bwh{
            width:300px;
            top:70px;
        }

    }
       
        
    }
    @include tablet{
     .content-wrapper{
        width:90%;
    
        .amplop-ats{
            width:550px;
            top:10%;
            
        }
        .kertas{
            width:400px;
            top:-40px;
            &:hover{
                top:-50px;
            }
        }
        .amplop-bwh{
            width:550px;
            top:140px;
        }

    }
       
        
    }
}
//endsection gift

@include mobile{
    
    .section-gift{
        p{
            font-size:12px;
            text-align:center;
        }
        height:420px;
    }
}
@include tablet{
    
    .section-gift{
        p{
            font-size:12px;
            text-align:center;
        }
        height:550px;
    }
}

//endsection gift
.section-ucapan{
    padding-top:85px;
    padding-bottom:239px;
    img{
        width:50px;
        height:50px;
    }
    .ucapan-wrapper{
        padding-top:40px;
        width:50%;
            
    }
    
    .content-ucapan{
        margin-top:1.625rem;
        width:100%;
        display:grid;
        grid-template-columns:0.5fr 2fr;
        .text-time{
            font-size:12px;
        }
        p{
            margin-bottom:0;
        }   
        h1{
            font-size:30px;
        }
    }
    
    @include mobile{
        h1{
            font-size:30px;
        }
        img{
            width:24px;
            height:24px;
        }
        .ucapan-wrapper{
            width:80%;
            h1{
                font-size:18px;
            }
  
        }
    }
    
}


.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border:none;
  }
  
  .custom-control-input:checked~.custom-control-label.red::before {
    background-color: red;
    border:none;
  }
  
  .custom-control-input:checked~.custom-control-label.green::before {
    background-color: #75E341;
  }