@-webkit-keyframes flipTop {
  0% {
    -webkit-transform: perspective(560px) rotateX(0deg);
  }
  100% {
    -webkit-transform: perspective(560px) rotateX(-90deg);
  }
}
@-webkit-keyframes flipBottom {
  0% {
    -webkit-transform: perspective(560px) rotateX(90deg);
  }
  100% {
    -webkit-transform: perspective(560px) rotateX(0deg);
  }
}
.flipTimer {
  display: flex;
  justify-content: space-between;
  color: #FFF;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 126px;
  font-weight: bold;
  line-height: 140px;
  height: 140px;
}
.flipTimer .seperator {
  vertical-align: top;
  margin: 0 -20px;
  display: inline;
}
.flipTimer .seconds,
.flipTimer .minutes,
.flipTimer .hours,
.flipTimer .days {
  height: 100%;
  display: inline;
}
.flipTimer .digit-set {
  background-color: black;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  border: 1px solid #111111;
  width: 98px;
  height: 100%;
  display: inline-block;
  position: relative;
  margin: 0 15px;
}
.flipTimer .digit {
  position: absolute;
  height: 100%;
}
.flipTimer .digit > div {
  position: absolute;
  left: 0;
  overflow: hidden;
  height: 50%;
  padding: 0 14px;
}
.flipTimer .digit > div.digit-top, .flipTimer .digit > div.shadow-top {
  background-color: black;
  border-bottom: 1px solid #333;
  box-sizing: border-box;
  top: 0;
  z-index: 0;
  border-radius: 14px 14px 0 0;
}
.flipTimer .digit > div.digit-top .digit-wrap, .flipTimer .digit > div.shadow-top .digit-wrap {
  color: white;
}
.flipTimer .digit > div.digit-top:before, .flipTimer .digit > div.shadow-top:before {
  content: "";
  box-shadow: inset 0 10px 25px rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.flipTimer .digit > div.shadow-top {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0)), to(#000));
  width: 98px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
}
.flipTimer .digit > div.digit-bottom, .flipTimer .digit > div.shadow-bottom {
  background-color: black;
  bottom: 0;
  z-index: 0;
  border-radius: 0 0 14px 14px;
}
.flipTimer .digit > div.digit-bottom .digit-wrap, .flipTimer .digit > div.shadow-bottom .digit-wrap {
  display: block;
  margin-top: -100%;
  color: white;
}
.flipTimer .digit > div.digit-bottom:before, .flipTimer .digit > div.shadow-bottom:before {
  color: white;
  content: "";
  box-shadow: inset 0 10px 25px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 14px 14px;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.flipTimer .digit > div.shadow-bottom {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(rgba(0, 0, 0, 0)));
  width: 70px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
}
.flipTimer .digit.previous .digit-top,
.flipTimer .digit.previous .shadow-top {
  opacity: 1;
  z-index: 2;
  -webkit-transform-origin: 50% 100%;
  -webkit-animation: flipTop 0.3s ease-in both;
  -moz-transform-origin: 50% 100%;
  -moz-animation: flipTop 0.3s ease-in both;
  -ms-transform-origin: 50% 100%;
  -ms-animation: flipTop 0.3s ease-in both;
  transform-origin: 50% 100%;
  animation: flipTop 0.3s ease-in both;
}
.flipTimer .digit.previous .digit-bottom,
.flipTimer .digit.previous .shadow-bottom {
  z-index: 1;
  opacity: 1;
}
.flipTimer .digit.active .digit-top {
  z-index: 1;
}
.flipTimer .digit.active .digit-bottom {
  z-index: 2;
  -webkit-transform-origin: 50% 0%;
  -webkit-animation: flipBottom 0.3s 0.3s ease-out both;
  -moz-transform-origin: 50% 0%;
  -moz-animation: flipBottom 0.3s 0.3s ease-out both;
  -ms-transform-origin: 50% 0%;
  -ms-animation: flipBottom 0.3s 0.3s ease-out both;
  transform-origin: 50% 0%;
  animation: flipBottom 0.3s 0.3s ease-out both;
}

.wrapper-count {
  position: relative;
}
.wrapper-count p {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 90px;
  color: white;
  left: 0px;
  font-size: 14px;
  font-family: montserrat, sans-serif;
  font-weight: 400;
}

@media (min-width: 0) and (max-width: 600px) {
  .wrapper-count p {
    line-height: 0px;
    font-size: 14px;
    top: 65px;
  }

  .flipTimer {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 49.5px;
    font-weight: bold;
    line-height: 55px;
    height: 55px;
  }
  .flipTimer .seperator {
    vertical-align: top;
    margin: 0 -20px;
    display: inline;
  }
  .flipTimer .seconds,
.flipTimer .minutes,
.flipTimer .hours,
.flipTimer .days {
    height: 100%;
    display: inline;
  }
  .flipTimer .digit-set {
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    border: 1px solid #111111;
    width: 38.5px;
    height: 100%;
    display: inline-block;
    position: relative;
    margin: 0 3px;
  }
  .flipTimer .digit {
    position: absolute;
    height: 100%;
  }
  .flipTimer .digit > div {
    position: absolute;
    left: 0;
    overflow: hidden;
    height: 50%;
    padding: 0 5.5px;
  }
  .flipTimer .digit > div.digit-top, .flipTimer .digit > div.shadow-top {
    background-color: black;
    border-bottom: 1px solid #333;
    box-sizing: border-box;
    top: 0;
    z-index: 0;
    border-radius: 5.5px 5.5px 0 0;
  }
  .flipTimer .digit > div.digit-top .digit-wrap, .flipTimer .digit > div.shadow-top .digit-wrap {
    color: white;
  }
  .flipTimer .digit > div.digit-top:before, .flipTimer .digit > div.shadow-top:before {
    content: "";
    box-shadow: inset 0 10px 25px rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .flipTimer .digit > div.shadow-top {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0)), to(#000));
    width: 38.5px;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
  }
  .flipTimer .digit > div.digit-bottom, .flipTimer .digit > div.shadow-bottom {
    background-color: black;
    bottom: 0;
    z-index: 0;
    border-radius: 0 0 5.5px 5.5px;
  }
  .flipTimer .digit > div.digit-bottom .digit-wrap, .flipTimer .digit > div.shadow-bottom .digit-wrap {
    display: block;
    margin-top: -100%;
    color: white;
  }
  .flipTimer .digit > div.digit-bottom:before, .flipTimer .digit > div.shadow-bottom:before {
    color: white;
    content: "";
    box-shadow: inset 0 10px 25px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 5.5px 5.5px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .flipTimer .digit > div.shadow-bottom {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(rgba(0, 0, 0, 0)));
    width: 27.5px;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
  }
  .flipTimer .digit.previous .digit-top,
.flipTimer .digit.previous .shadow-top {
    opacity: 1;
    z-index: 2;
    -webkit-transform-origin: 50% 100%;
    -webkit-animation: flipTop 0.3s ease-in both;
    -moz-transform-origin: 50% 100%;
    -moz-animation: flipTop 0.3s ease-in both;
    -ms-transform-origin: 50% 100%;
    -ms-animation: flipTop 0.3s ease-in both;
    transform-origin: 50% 100%;
    animation: flipTop 0.3s ease-in both;
  }
  .flipTimer .digit.previous .digit-bottom,
.flipTimer .digit.previous .shadow-bottom {
    z-index: 1;
    opacity: 1;
  }
  .flipTimer .digit.active .digit-top {
    z-index: 1;
  }
  .flipTimer .digit.active .digit-bottom {
    z-index: 2;
    -webkit-transform-origin: 50% 0%;
    -webkit-animation: flipBottom 0.3s 0.3s ease-out both;
    -moz-transform-origin: 50% 0%;
    -moz-animation: flipBottom 0.3s 0.3s ease-out both;
    -ms-transform-origin: 50% 0%;
    -ms-animation: flipBottom 0.3s 0.3s ease-out both;
    transform-origin: 50% 0%;
    animation: flipBottom 0.3s 0.3s ease-out both;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .wrapper-count p {
    line-height: 0px;
    font-size: 14px;
  }

  .flipTimer {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 67.5px;
    font-weight: bold;
    line-height: 75px;
    height: 75px;
  }
  .flipTimer .seperator {
    vertical-align: top;
    margin: 0 -20px;
    display: inline;
  }
  .flipTimer .seconds,
.flipTimer .minutes,
.flipTimer .hours,
.flipTimer .days {
    height: 100%;
    display: inline;
  }
  .flipTimer .digit-set {
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    border: 1px solid #111111;
    width: 52.5px;
    height: 100%;
    display: inline-block;
    position: relative;
    margin: 0 8px;
  }
  .flipTimer .digit {
    position: absolute;
    height: 100%;
  }
  .flipTimer .digit > div {
    position: absolute;
    left: 0;
    overflow: hidden;
    height: 50%;
    padding: 0 7.5px;
  }
  .flipTimer .digit > div.digit-top, .flipTimer .digit > div.shadow-top {
    background-color: black;
    border-bottom: 1px solid #333;
    box-sizing: border-box;
    top: 0;
    z-index: 0;
    border-radius: 7.5px 7.5px 0 0;
  }
  .flipTimer .digit > div.digit-top .digit-wrap, .flipTimer .digit > div.shadow-top .digit-wrap {
    color: white;
  }
  .flipTimer .digit > div.digit-top:before, .flipTimer .digit > div.shadow-top:before {
    content: "";
    box-shadow: inset 0 10px 25px rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .flipTimer .digit > div.shadow-top {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0)), to(#000));
    width: 52.5px;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
  }
  .flipTimer .digit > div.digit-bottom, .flipTimer .digit > div.shadow-bottom {
    background-color: black;
    bottom: 0;
    z-index: 0;
    border-radius: 0 0 7.5px 7.5px;
  }
  .flipTimer .digit > div.digit-bottom .digit-wrap, .flipTimer .digit > div.shadow-bottom .digit-wrap {
    display: block;
    margin-top: -100%;
    color: white;
  }
  .flipTimer .digit > div.digit-bottom:before, .flipTimer .digit > div.shadow-bottom:before {
    color: white;
    content: "";
    box-shadow: inset 0 10px 25px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 7.5px 7.5px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .flipTimer .digit > div.shadow-bottom {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(rgba(0, 0, 0, 0)));
    width: 37.5px;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in;
  }
  .flipTimer .digit.previous .digit-top,
.flipTimer .digit.previous .shadow-top {
    opacity: 1;
    z-index: 2;
    -webkit-transform-origin: 50% 100%;
    -webkit-animation: flipTop 0.3s ease-in both;
    -moz-transform-origin: 50% 100%;
    -moz-animation: flipTop 0.3s ease-in both;
    -ms-transform-origin: 50% 100%;
    -ms-animation: flipTop 0.3s ease-in both;
    transform-origin: 50% 100%;
    animation: flipTop 0.3s ease-in both;
  }
  .flipTimer .digit.previous .digit-bottom,
.flipTimer .digit.previous .shadow-bottom {
    z-index: 1;
    opacity: 1;
  }
  .flipTimer .digit.active .digit-top {
    z-index: 1;
  }
  .flipTimer .digit.active .digit-bottom {
    z-index: 2;
    -webkit-transform-origin: 50% 0%;
    -webkit-animation: flipBottom 0.3s 0.3s ease-out both;
    -moz-transform-origin: 50% 0%;
    -moz-animation: flipBottom 0.3s 0.3s ease-out both;
    -ms-transform-origin: 50% 0%;
    -ms-animation: flipBottom 0.3s 0.3s ease-out both;
    transform-origin: 50% 0%;
    animation: flipBottom 0.3s 0.3s ease-out both;
  }
}/*# sourceMappingURL=countdown.css.map */