* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

#carousel-1 {
  z-index: -5 !important;
}

@-webit-keyframes zoom {
  #carousel-1 from {
    -webkit-transform: scale(1, 1);
  }
  #carousel-1 to {
    -webkit-transform: scale(1.5, 1.5);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

#carousel-1 .carousel-inner .carousel-item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}

#carousel-1 .carousel-item img {
  height: 900px;
  object-fit: cover;
  filter: brightness(70%);
}

@media (min-width: 0) and (max-width: 600px) {
  #carousel-1 .carousel-item img {
    height: 500px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  #carousel-1 .carousel-item img {
    height: 700px;
  }
}

#countdown {
  margin-top: -280px;
  margin-bottom: 100px;
}

@media (min-width: 0) and (max-width: 600px) {
  #countdown {
    margin-top: -200px;
  }
  #countdown h4 {
    font-size: 15px;
    font-familiy: Andika, sans-serif;
    letter-spacing: 4px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  #countdown {
    margin-top: -200px;
  }
}

#countdown .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#countdown .count-items {
  color: white;
  width: 200px;
  padding: 20px 20px;
  border: solid 1px transparant;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(25deg, rgba(0, 0, 0, 0) 0%, #6c6c6c 99%);
}

@media (min-width: 0) and (max-width: 600px) {
  #countdown .count-items {
    width: 50px;
    font-size: 12px;
  }
  #countdown .count-items h2 {
    font-size: 15px;
    font-weight: bold;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  #countdown .count-items {
    width: 100px;
    font-size: 12px;
  }
  #countdown .count-items h2 {
    font-size: 15px;
    font-weight: bold;
  }
}

.section {
  padding: 60px 50px;
}

#section-about {
  position: relative;
}

#section-about .wrapper-about {
  width: 90%;
  border: 1.5px solid rgba(78, 35, 1, 0.5);
  border-radius: 20px;
  padding: 50px 0px;
  margin: auto;
}

#section-about .bunga {
  width: 300px;
  z-index: 10;
}

#section-about #bunga-1 {
  position: absolute;
  top: -90px;
  right: 30px;
}

#section-about #bunga-2 {
  position: absolute;
  bottom: -130px;
  left: 30px;
}

#section-about .img-profile {
  width: 100%;
}

@media (min-width: 0) and (max-width: 600px) {
  #section-about .wrapper-about {
    width: 100%;
  }
  #section-about .img-about {
    width: 100%;
  }
  #section-about #bunga-1 {
    display: none;
  }
  #section-about #bunga-2 {
    width: 170px;
    left: 0px;
    bottom: -60px;
  }
  #section-about .img-profile {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  #section-about .wrapper-about {
    width: 100%;
  }
  #section-about .wrapper-about .img-about {
    width: 450px;
  }
  #section-about .wrapper-about .img-profile {
    width: 100%;
  }
  #section-about .bunga {
    width: 200px;
  }
  #section-about #bunga-1 {
    top: -50px;
    right: 0px;
  }
  #section-about #bunga-2 {
    left: 0px;
    bottom: -50px;
  }
}

#section-join .img-join {
  width: 350px;
}

#section-join .property-join {
  width: 300px;
}

#section-join .flowers {
  width: 200px;
}

#section-join .wrapper-content-church {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

#section-join .wrapper-content-church .barcode img {
  width: 100px;
}

@media (min-width: 0) and (max-width: 600px) {
  #section-join .img-join {
    width: 85%;
  }
  #section-join .flowers {
    width: 150px;
  }
  #section-join .wrapper-content-church h2 {
    font-size: 27px;
  }
  #section-join .wrapper-content-church p {
    font-size: 12px;
  }
  #section-join .wrapper-content-church .barcode img {
    display: none;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  #section-join .img-join {
    width: 300px;
  }
}

#section-guest .img-guest {
  width: 500px;
}

#section-guest .form-wrapper {
  width: 80%;
  padding: 50px 20px;
}

#section-guest .btn-send {
  background-color: #7e634f;
  color: white;
  width: 30%;
}

#section-guest .btn-send:hover {
  background-color: #804012;
}

@media (min-width: 0) and (max-width: 600px) {
  #section-guest .img-guest {
    width: 300px;
  }
  #section-guest .form-check-label {
    font-size: 14px;
  }
  #section-guest h1 {
    font-size: 25px;
  }
  #section-guest .btn-send {
    width: 100%;
  }
}

#section-gallery {
  height: auto;
}

#section-gallery .img-gallery {
  width: 250px;
}

#section-gallery h1 {
  font-size: 25px;
  font-weight: bold;
}

#section-gallery .gallery-wrapper {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
}

#section-gallery .img-wrapper {
  width: 100%;
  overflow: hidden;
}

#section-gallery .img-wrapper .img-unik {
  object-position: 35% center;
}

#section-gallery .img-items {
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
  filter: sepia(50%);
}

#section-gallery .img-items:hover {
  -webkit-filter: sepia(0);
  filter: sepia(0);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

@media (min-width: 0) and (max-width: 600px) {
  #section-gallery .img-gallery {
    width: 70%;
  }
}

.img-location {
  width: 300px;
}

@media (min-width: 0) and (max-width: 600px) {
  .img-location {
    width: 85%;
  }
}

#section-ucapan .wrapper-content {
  color: black;
  background: #f2b577;
  padding: 50px;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 31px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 31px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 31px -19px rgba(0, 0, 0, 0.75);
}

#section-ucapan .wrapper-content .btn-send {
  background-color: #7e634f;
  color: white;
}

#section-ucapan .wrapper-content .btn-send:hover {
  background-color: #804012;
}
